<%= erb :header %>
<div class='container'>
  <div class='span6'>
    <h2>Login to view your slides</h2>
    <p>If you are having any difficulty, please contact someone who cares.</p>
  </div>
  <div class='span5 login-span'>
    <form class='form-horizontal' action='/login' method='POST'>
      <div class='control-group'>
        <label class='control-label' for='username'>Username</label>
        <div class='controls'>
          <input type='text' name='username'  id='username' placeholder='Username'>
        </div>
      </div>
      <div class='control-group'>
        <label class='control-label' for='password'>Password</label>
        <div class='controls'>
          <input type='password' id='password' name='password' placeholder='Password'>
        </div>
      </div>
      <div class='control-group'>
        <div class='controls'>
          <button type='submit' class='btn'>Sign in</button>
        </div>
      </div>
    </form>
  </div>

